@use '../../styles/vars' as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; // или 100vh для полноэкранного
}

.spinner {
  width: 48px;
  height: 48px;
  border: 6px solid rgba(255, 140, 0, 0.2);
  border-top: 6px solid $orange;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
