$white: #fff;
$black: #000;
$brown: rgb(99, 49, 16);
$orange: #d2691e;
$grey: #333333;
$light-grey: #a0a0a0;
$my-white: #eeeeee;

$defaultFontFamily: 'Poppins', sans-serif;
$defaultFontSize: 20px;
$defaultBackgroudColor: $grey;
$defaultTextColor: $black;
$defaultLineHeight: 1.5;

$borderRadiusSmall: 5px;
