@use '../../node_modules/reset-css/sass/reset';
@use './_vars.scss' as *;

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: relative;
}

body {
  font-family: $defaultFontFamily;
  font-size: $defaultFontSize;
  background-color: $defaultBackgroudColor;
  color: $defaultTextColor;
  line-height: $defaultLineHeight;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
