@use '../../styles/mixins' as *;
@use '../../styles/vars' as *;

.page {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .sortSelect {
    padding: 8px 15px;
    border-radius: 5px;
    background-color: $my-white;
    color: $black;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 2px 2px 1px $black;

    &:focus {
      outline: none;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: $my-white;

    .pageInfo {
      min-width: 120px;
      text-align: center;
    }
  }
}
