@use '../../styles/vars' as *;

.wrapper {
  display: flex;
  flex-direction: column;

  .label {
    font-size: 20;
    font-weight: 500;
  }

  .input {
    padding: 10px 14px;
    border: 1px solid $grey;
    background: $white;
    border-radius: 6px;
    color: $black;
    font-size: 15px;
    transition: border-color 0.2s;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #aaa;
    }
  }

  .inputError {
    border-color: $orange;
  }

  .error {
    color: $orange;
    font-size: 12px;
  }
}
