@use '../../styles/_vars.scss' as *;
@use '../../styles/_mixins.scss' as *;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $grey;
  padding: 30px 0px;
}
