@use '../../styles/mixins' as *;
@use '../../styles/vars' as *;

.page {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .header {
    color: $my-white;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
