@use '../../styles/mixins' as *;
@use '../../styles/vars' as *;

.button {
  padding: 8px 15px;
  margin-top: 0;
  color: $black;
  background-color: $orange;
  border: 1px solid $black;
  font-weight: bold;
  border-radius: $borderRadiusSmall;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;
  position: relative;
  box-shadow: 2px 2px 1px $black;

  line-height: 1.2;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.orange {
    background-color: $orange;
    color: $my-white;

    &:hover {
      background-color: lighten($orange, 5);
      box-shadow: 3px 3px 1px $grey;
    }

    &:active {
      background-color: $orange;
      box-shadow: none;
      transform: translateY(2px) translateX(2px);
    }

    &.disabled {
      pointer-events: none;
      background-color: $light-grey;
      color: #e0e0e0;
    }
  }

  &.white {
    background-color: $white;
    color: $black;
    border-color: $black;

    &:hover {
      box-shadow: 3px 3px 1px $grey;
      background-color: lighten($white, 5);
    }

    &:active {
      background-color: darken($white, 10);
      box-shadow: none;
      transform: translateY(2px) translateX(2px);
    }

    &.disabled {
      pointer-events: none;
      background-color: $light-grey;
      color: #e0e0e0;
    }
  }
}
