@use '../../styles/_vars.scss' as *;
@use '../../styles/_mixins.scss' as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.2s ease;

  .modal {
    background: $my-white;
    border-radius: 5px;
    padding: 24px;
    max-width: 400px;
    width: 90%;
    animation: slideUp 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title {
      font-size: 20px;
      font-weight: 600;
      color: $grey;
    }

    .message {
      margin-bottom: 10px;
      font-size: 16px;
      color: $grey;
      line-height: 1.5;
    }

    .buttons {
      display: flex;
      gap: 30px;
      justify-content: flex-end;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
